<!doctype html>
<html>
<head>
    <title>C web server</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css">    
</head>

<body>
<div>
    <h1>Main Page</h1>
</div>
<div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto facere eligendi, praesentium, doloremque minima accusantium maxime nobis similique adipisci tenetur earum esse corrupti magnam porro repudiandae atque voluptatum, modi voluptatibus.
</div>
</body>
</html>
