<!doctype html>
<html>
<head>
    <title>C web server</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div>
    <h1>Video-Test(Internal)</h1>
</div>
<div>
    <video width="400" controls>
        <source src="video/sum41.mp4">
    </video>
</div>

<script src="js/script.js"></script>
</body>
</html>