<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>C web server</title>
</head>
<body>
    
    <div>
        
        <ul class="links">
            <li><a href="/main">Main</a></li>
            <li><a href="/video-test">Video</a></li>
            <li><a href="/internal-image">Image-Internal</a></li>
            <li><a href="/external-image">Image-External</a></li>
            <li><a href="/form-test">Form</a></li>
        </ul>

    </div>

</body>
</html>